
@{
    ViewData["Title"] = "SignIn";
}
@model SigninInput

<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center"> Sign In</h5>
                <div asp-validation-summary="ModelOnly"></div>
                <form asp-controller="Auth" asp-action="SignIn" method="post">
                    <div class="mb-3">
                        <label asp-for="Email" class="form-label"></label>
                        <input type="email" value="tolga@gmail.com" asp-for="Email" class="form-control" id="emailInput" aria-describedby="emailHelp">
                        <span class="text-danger" asp-validation-for="Email"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Password" class="form-label">Password</label>
                        <input type="password" value="Tolga123*" asp-for="Password" class="form-control" id="inputPassword">
                        <span class="text-danger" asp-validation-for="Password"></span>
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" asp-for="RememberMe" class="form-check-input" id="rememberMe">
                        <label asp-for="RememberMe" class="form-check-label"></label>
                    </div>
                    <button type="submit" class="btn btn-primary">Sign In</button>
                </form>
            </div>
        </div>
    </div>
</div>

